@import url("../../App.css");

.header{
    border-bottom: 1px solid var(--line-color);
    height: 70px;

    .main-nav {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .page_bar {
            height: 100%;
            display: flex;
            align-items: center;

            .homepage {
                display: inline-block;
                width: 180px;
                color: black;
                font-size: 1.7em;
                font-weight: 900;
                vertical-align: middle; 
                margin: 0 10px 0 0;
                -webkit-touch-callout: none; /* iOS Safari */
                    -webkit-user-select: none; /* Safari */
                    -khtml-user-select: none; /* Konqueror HTML */
                        -moz-user-select: none; /* Old versions of Firefox */
                        -ms-user-select: none; /* Internet Explorer/Edge */
                            user-select: none; /* Non-prefixed version, currently
                                                    supported by Chrome, Edge, Opera and Firefox */
            }

            .homepage:hover {
                cursor: pointer;
                text-decoration: none;
            }
    
            .nav_item {
                padding: calc((75px - 25.2px)/2) 0;
                height: 100%;
                text-align: center;
                margin: 0 10px;
                -webkit-touch-callout: none; /* iOS Safari */
                    -webkit-user-select: none; /* Safari */
                    -khtml-user-select: none; /* Konqueror HTML */
                        -moz-user-select: none; /* Old versions of Firefox */
                        -ms-user-select: none; /* Internet Explorer/Edge */
                            user-select: none; /* Non-prefixed version, currently
                                                    supported by Chrome, Edge, Opera and Firefox */
                
                a {
                    font-size: 1.1rem;
                    display: inline-block;
                    color: black;
                }

                a:hover {
                    text-decoration: none;
                    color: var(--app-color);
                    cursor: pointer;
                }
            }

            .chosen-item {
                border-bottom: 4px solid var(--app-color);

                a {
                    color: #1BAFC3;
                }
            }
        }

        .user_option {
            display: inline-block;
            color: var(--app-color);
        }
        
    }

}